<div id="home">
  <div class="container">
    <div class="jumbotron text-center" id = "email-bg-header">
      <h1>Send a Mail/Text</h1>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <strong>Send Mail/Text Message</strong>
          </div>
          <div class="card-body p-2">
            <form method="POST">
              <div class="form-group">
                <label for="name"><strong>Name :</strong></label>
                <input id="name" class="person-name form-control" placeholder="Enter a name" type="text" />
              </div>
              <div class="form-group">
                <label for="email_id"><strong>Email id :</strong></label>
                <input id="email" class="person-email_id form-control" placeholder="Enter an email_id" type="email" />
              </div>
              <div class="form-group">
                <label for="category"><strong>Relationship :</strong></label>
                <input id="relation" class="person-category form-control" placeholder="Enter the person's relationship"
                  type="text" />
              </div>
              <div class="form-group">
                <label for="reason"><strong>Subject :</strong></label>
                <input id="subject" class="person-reason form-control" placeholder="Text your subject!!!" type="text" />
              </div>
              <div class="form-group">
                <label for="add-text"><strong>Text Area :</strong> </label>
                <textarea id="text-message" class="form-control" type="text" rows="10" cols="65"></textarea>
              </div>
              <div class="row">
                <div class="col-md-10">
                  {{!-- <label for="exampleFormControlFile1"></label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1"> --}}
                  <input id="file" type="file" />
                  <br />
                  <br />
                  <button id="button">Evaluate
                </div>
                <div class="col-md-2">
                  <button class="btn btn-success btn-lg float-right" id="send-btn"><i class="fa fa-send"
                      aria-hidden="true"></i>
                  </button>
                </div>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!--
  {{!-- <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <h1>Emails</h1>
        </div>
        <div id="sent-mail">
        </div>
      </div>
    </div>
  </div> --}}
</div>
</div>
-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/email.js"></script>